@app.route("/")
def home():
    if "user" not in session:
        return redirect("/login")

    try:
        conn = get_db()
        cur = conn.cursor()

        cur.execute("""
            SELECT id, user_name, content, likes
            FROM posts
            ORDER BY id DESC
        """)

        posts = cur.fetchall()
        conn.close()

        return render_template("home.html", user=session["user"], posts=posts)

    except Exception as e:
        logging.error(f"HOME ERROR: {e}")
        return f"Error en home: {e}"
